@model EnglishTestingOnline.Web.Models.EditUserViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
                    {
                        <form class="form-horizontal">
                            <div class="card">
                                <div class="card-header card-header-icon card-header-rose">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h2 class="card-title ">Thêm mới câu hỏi</h2>
                                </div>
                                <div class="card-body">
                                    @Html.HiddenFor(model=>model.Id)

                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Tài khoản</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </label>
                                    </div>


                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Tên chủ sở hữu</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.UserName)
                                        </label>
                                    </div>
                                   
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Address</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.Address)
                                        </label>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Phone</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.Phone)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Roles</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.RoleName, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "selectpicker", @title = Model.RoleName, @data_style = "select-with-transition" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">New Password</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.NewPassword)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Confirm new Password</label>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3"></label>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

